
.container .row{
    margin: 1rem 0 1rem 0;
}

.container .row h5{
    display:flex;
    justify-content: left;
    text-align: left;
}

.help-div{
    min-height: 70vh;
    margin: 5rem 0 5rem 0;
}

