.title{
    text-align: center;
    margin-top: 2em;
    
}

.container{
    
    width: 70%;
    text-align: center;
    padding: 2em;
    
}

.form{
    text-align: center;
    padding-bottom: 1em;
   
}