.banner{
    text-align:center;
    padding: 0.5em;
    
}

.xButton{
    position: absolute;
    font-size: 1.5rem;
    margin: 1rem 0.5rem 0 0;
    right: 0;
    top:0;
    z-index: 1;
    background: none;
    border: none;
}

.xButton:active{
   border-style: outset;
   border:none;
   outline: none;
}


.carouselDiv{
   
    position: fixed;
    background-color: lightgray;
    font-weight: bold;
    padding-top: 1rem;  
    margin-top: -1rem;
    top:4rem;
    width: 100%;
    z-index: 2;
    
}
