.pagination>li>a{
    background: white;
     color: gray
 }   
 
 .page-item.active .page-link {
     z-index: 3;
     color: gray;
     background-color: white;
     border-bottom: 5px solid gray !important ;
     border-color: #dee2e6;
 }
 
 .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: black;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}