
.hero-content{
    margin: 0rem 5rem 0rem 5rem;
    padding: 2rem 2rem 2rem 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
 
    text-align: center;
    font-size: 20px;
    align-items: center;
    
    z-index: 1;

}

.hero-content h1{
   font-size: 70px;
   font-weight: bolder;

}



.hero-img{
    background-image: url(./images/hero.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.ourstory-img{
    background-image: url(./images/ourstory.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.ourstory-content{

    box-shadow: 10px 5px 5px rgb(94, 94, 94);
    padding: 1rem 1rem 1rem 1rem;
    color: black;
    background-color: white;
    max-width: 50vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.newsletter-img{
    background-image: url(./images/newsletter.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:50vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.newsletter-content{

    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 2rem 2rem 2rem;
    color: white;
   
    max-width: 50vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.timelineImgAnimate{
    width: 100%;
    height: 400px;
    object-fit: cover;
    animation: showImg 3s;
    
}

.timelineImgHidden{
    display: none;
    opacity: 0

}




@keyframes showImg{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes showBorder{
    0%{border-bottom: solid 2px white;}
    100%{border-bottom: solid 2px black;}
}







 .radio{
   
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 2rem;

   
    

 }

 

.radio1{
    padding: 1rem 0 1rem 0;
 
}



.radioActive{
    padding: 1rem 0 1rem 0;
    border-bottom: solid 2px;
    cursor: pointer;
    animation: showBorder 1s;
}





.radio1:hover{
   
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

.radio2:hover{
   
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

.radio3:hover{

    cursor: pointer;
    background-color: lightgoldenrodyellow;
}

 .rowHeight{
    
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
     text-align: center;
 }

 .product-home-row{
     padding: 5rem 3rem 5rem 3rem;
    text-align: center;
 }


.sizingbtn{
    background-color: green;
    width: 3rem;
    height: 3rem;
    font-weight: bolder;
    text-align: center;

}

.sizingRow button:hover{
    border-width: medium;
    background-color: red;
    

}




.productList li{
    margin-top: 1em;
    font-weight: bolder;
}