
.row{

    margin-bottom: 2rem;
}

.imgtest{
    width: 100%;
    text-align: center;
    padding: 2rem;
   
}


.sizingButtons .btn{
    width: 3rem;
margin: 0 1rem 0 1rem;
}

.marginy{   
    margin-top: 7rem;
    padding: 2rem;
}

