
.detail-description-container .row{
    margin-bottom: 1rem;
}

.imgtest{
    width: 100%;
    text-align: center;
    padding: 2rem;
   
}


.sizingButtons .btn{
    width: 3rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
}

.marginy{   
    margin-top: 7rem;
    padding: 2rem;
}

.accordion .card .card-header:hover{
    cursor: pointer;
}

.accordion .card .card-header,.card-body{
   padding: 2rem;
   background-color: white;
   display: flex;
   justify-content: space-between
}


.colourBox{
    border-style: solid;
    border-width: 1.5px;
    width: 2rem;
    height: 2rem;
    background-color: white;
    margin: 2rem 2rem 2rem 1rem;
    padding: 1rem;
}

.colourBox:hover{
    cursor: pointer;
   
}

.activecolor.colourBox{
   
    border-width: 5px;
    cursor: pointer;
    
}

.colourBoxred.colourBox{
    
    
    background-color: red;
   

}


.colourBoxnavy{
  
    background-color: navy;
    
}


.colourBoxblack{

    background-color:#242424;
 
}


.colourBoxwhite{
   background-color: white;

}