

.showcase-details{
    padding: 1rem 0 2rem 0;
}

.rowy{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.show-case{
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 3rem;


}

.showcasePadding{
    padding:0 3rem 0 3rem;
}

.tees{
    
    width: 100%;
    height: 60vh;
    object-fit: cover;
    
}

.testy{

    border-style: solid;
    border-width: thin;
    background-color: #de0f00;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.1em;
    width: 6em;
    color: white;
    text-align: center;
    
}

.testy1{
    
    background-color: #d0b9a7;
    position: absolute;
    bottom:0;
    padding: 1em;
    width: 100%;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.testy1 a{
    
    color: black;
    font-size: larger;
    
}



.columntest{

  
    
    padding: 0;
}

.row .col-lg-12{
    text-align: center;
}


