.showcase-details{
    padding: 3rem 0 2rem 0;
}

.rowy{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.show-case{
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 3rem;


}

.tees{
    padding: 0px;
    width: 100%;
}

