.showcase-details{
    padding-top: 3rem;
}

.rowy{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.show-case{
    width: 100%;
    height: auto;
    padding: 0;


}

.tees{
    padding: 0px;
    width: 100%;
}

