.banner{
    text-align:center;
    padding: 0.5em;
    
}

.xButton{
    position: absolute;
    font-size: 1.5rem;
    margin: 1rem 0.5rem 0 0;
    right: 0;
    top:0;

    z-index:6;
    background: none;
    border: none;
}

.xButton:active{
   border-style: outset;
   border:none;
   outline: none;
}


.carouselDiv{
   
    position: fixed;
    z-index: 5;
    top:0;
    margin-top: 3rem;
    padding-top: 1rem;
    background-color: lightgray;
    font-weight: bold;

    
    width: 100%;

    
}
